#thanks-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#thanks-title {
  text-align: center;
  font-size: 150px;
  font-weight: bold;
  color: #808080;
  margin: 0px;
}

#thanks-subtitle {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #808080;
}

#thanks-span {
  font-size: 45px;
  font-weight: medium;
  color: #f4d03f;
}

@media screen and (max-width: 850px) {
  #thanks-title {
    font-size: 50px;
  }
  
  #thanks-span {
    font-size: 20px;
  }
  
  #thanks-subtitle {
    font-size: 20px;
  }
  
}