<div id="star-rating">
  <span id="star-rating-title">Ambiente do Posto de Atendimento</span>
  <app-star-rate (clicked)="setEnvironment($event)"></app-star-rate>

  <span id="star-rating-title">Atendimento dos colaboradores</span>
  <app-star-rate (clicked)="setCollaborator($event)"></app-star-rate>

  <span id="star-rating-title">Tempo de Espera</span>
  <app-star-rate (clicked)="setTime($event)"></app-star-rate>

  <app-button-send
    text="Enviar"
    color="#f89e1b"
    width="170px"
    height="90%"
    [fontSize]="size ? '30px' : '20px'"
    (clicked)="navigate()"
  ></app-button-send>
  @if (showAlert.showAlert) {
  <app-alert text="Por favor, registre sua avaliação"></app-alert>
  }
</div>
