.stack-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo-image {
  width: 100vw;
  max-width: 300px;
  position: absolute;
  top: 5%;
}

#desenho-image {
  width: 190px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  #desenho-image {
    width: 20%;
    max-width: 190px;
  }
}
