@font-face {
  font-family: "lato";
  src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "lato", sans-serif;
}

:root {
  --mat-sys-surface-variant: transparent;
  --mat-sys-on-surface: transparent;
}
