<div>
  <h1 id="user-cpf">Gostaria de informar o seu CPF?</h1>
  <div id="buttons-send">
    <app-button-send
      text="Sim"
      color="#66bb6a"
      [width]="size ? '90px' : '80px'"
      [height]="size ? '60px' : '50px'"
      [fontSize]="size ? '40px' : '30px'"
      (clicked)="navigateToRegisterCpf()"
    ></app-button-send>
    <app-button-send
      text="Não"
      color="#f89e1b"
      [width]="size ? '90px' : '80px'"
      [height]="size ? '60px' : '50px'"
      [fontSize]="size ? '40px' : '30px'"
      (clicked)="navigateToThanks()"
    ></app-button-send>
  </div>
</div>
