#user-cpf {
  text-align: center;
  
}

#buttons-send {
  padding-top: 5%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20%;
}

@media screen and (max-width: 850px) {
  #user-cpf {
    font-size: 30px;
    
  }
  
}