#button-send {
  padding-top: 5%;
  align-items: center;
  display: flex;
  white-space: nowrap;
  justify-content: center;
}

.custom-button {
  padding: 15px 10px 15px 10px;
}

@media screen and (max-width: 850px) {
  .custom-button {
    margin-bottom: 10vh;
  }
  .custom-button.no-margin {
    margin-bottom: 0 !important;
  }
}
