#button-send{
  padding-top: 5%;
  align-items: center;
  display: flex;
  white-space: nowrap;
  justify-content: center;
}

.custom-button {
  font-size: 30px; 
  padding: 15px 0px 15px 0px;
  height: 90%;        
  padding: 10px;  
}